# Gradle
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Android Studio
.idea/
*.iml
/.settings/
local.properties

# Generated
captures/
.externalNativeBuild/

# Logs
*.log

# Keystores
*.jks
*.keystore

# OS files
.DS_Store
Thumbs.db
